.Poke_name {
    text-transform:capitalize;
    font-weight: bold;
    font-size: 30px;
  }
.Poke_Pic{
    width: 100px;
    height: 100px;
    padding: 30px, 50px;
   }
.pokemoncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 50px;
    padding: 50px 50px;
    visibility:visible;
}
.card{
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 40px 40px;
}
body {
    background: rgb(180, 8, 8);
    background: linear-gradient(
      -225deg,
      rgb(250, 2, 2) 10%,
      rgba(200, 242, 1) 82%
    )
  }